APP_NEW=""

LOG_LEVEL=""

RATE_LIMIT=""

CACHE_TTL_SECONDS=""
MAX_RETRIES=""

# Ollama

OLLAMA_API_KEY=""
MODEL_PROVIDER=""
MODEL=""
EMBEDDINGS_MODEL=""

# Langsmith Environment variables

LANGSMITH_API_KEY=""
LANGSMITH_TRACING=""
LANGSMITH_ENDPOINT=""
LANGSMITH_PROJECT=""

# Supabase connection

SUPABASE_DATABASE_URL=""
SUPABASE_URL=""
SUPABASE_PUBLISHABLE_KEY=""
SUPABASE_SECRET_KEY=""
SUPABASE_JWKS_URL=""